
html, body {
  height: 80%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* 2. La zone de contenu principal qui prend toute la place restante */
.main-content {
  flex: 1;
}

/* 3. Footer : styles spécifiques au footer */
.footer-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 1.5rem 3rem;
  background-color: #000; 
  border-top: 2px solid #fff; 
  width: 100%;
  text-align: center;
 
}

.footer-content {
  display: flex;
  flex-direction: column; 
  gap: 0.8rem; 
}

.footer-content span {
  color: #fff; 
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.github-link {
  color: #fff; 
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  border-radius: 20px;
  border: 2px solid #fff; 
  transition: all 0.3s ease;
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  display: inline-block;
}

.github-link:hover {
  background-color: #e4963c;
  color: #000;         
}
