.navbar-container {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333; /* Fond gris foncé */
  position: relative;
  min-height: 70px;
}

/* Pour éviter tout débordement horizontal */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-section {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
  margin-right: 30px; /* Espace à droite */
  min-width: 200px;
}

.nav-button {
  color: #fff; /* Texte blanc */
  text-decoration: none;
  padding: 0.8rem 1.5rem;
  border-radius: 25px;
  border: 2px solid #fff;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav-button:hover {
  background-color: #e4963c;
  color: #333;
}

/* Le logo est placé de manière absolue avec un z-index élevé */
.logo-link {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo {
  height: 90px;
  width: auto;
  transition: transform 0.1s cubic-bezier(0.25, 0.46, 0.45, 1.5);
  border-radius: 5px;
  transform-origin: center;
}

.navbar-logo:hover {
  transform: scale(1.3);
  filter: drop-shadow(0 0 12px #fff);
}
